<template>
    <div>

         <!-- Navbar-->
    <header class="bg-light shadow-sm fixed-top" data-fixed-element>
      <div class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid"><a class="navbar-brand d-none d-sm-block me-3 me-xl-4 flex-shrink-0" href="/">
        <img src="/images/newlogo.png" width="65" alt=""></a><a class="navbar-brand d-sm-none me-2" href="/">
        <img src="/images/newlogo.png" width="74" alt=""></a>
          <!-- Search-->
          <div class="input-group d-none d-lg-flex flex-nowrap mx-4"><i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
            <input class="form-control rounded-start w-100" v-model="message.search"
            v-on:keyup.enter="getAdsByrandomSearch()" type="text" placeholder="Search for products">
            <select class="form-select flex-shrink-0" style="width: 14rem;" v-model="message.category_id" v-on:change="routeToFeeds2()">
              <option v-for="data in cats" :key="data.id" v-bind:value="data.id">{{data.name}}</option>
            </select>
          </div>
          <!-- Toolbar-->
          <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center ms-xl-2">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sideNav"><span class="navbar-toggler-icon"></span></button>
            <a class="navbar-tool d-flex d-lg-none" href="home-grocery-store.html#searchBox" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="searchBox">
              <span class="navbar-tool-tooltip">Search</span>
              <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-search"></i></div></a>
              
              <router-link to="/profile" v-if="auth==='yes'" class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="#">
              <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
              <div class="navbar-tool-text ms-n3"><small>Hello, {{name}}</small>My Profile</div>
              </router-link>
              
              <a v-else class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="home-grocery-store.html#signin-modal" data-bs-toggle="modal">
              <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
              <div class="navbar-tool-text ms-n3"><small>Hello, Sign in</small>My Account</div>
              </a>
              <router-link to="/add/post" class="btn btn-warning">Sell</router-link>
          </div>
        </div>
      </div>
      <!-- Search collapse-->
      <div class="collapse" id="searchBox">
        <div class="card pt-2 pb-4 border-0 rounded-0">
          <div class="container">
            <div class="input-group"><i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
              <input  v-on:keyup.enter="getAdsByrandomSearch()" class="form-control rounded-start" v-model="message.search" type="text" placeholder="Search for products">
          
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Sidebar menu-->
    <aside class="offcanvas offcanvas-expand w-100 border-end zindex-lg-5 pt-lg-5" id="sideNav" style="max-width: 21.875rem;">
      <div class="pt-2 d-none d-lg-block"></div>
      <ul class="nav nav-tabs nav-justified mt-4 mt-lg-5 mb-0" role="tablist" style="min-height: 3rem;">
        <li class="nav-item"><a class="nav-link fw-medium active" href="home-grocery-store.html#categories" data-bs-toggle="tab" role="tab">Categories</a></li>
        <li class="nav-item"><a class="nav-link fw-medium" href="home-grocery-store.html#menu" data-bs-toggle="tab" role="tab">Menu</a></li>
        <li class="nav-item d-lg-none"><a class="nav-link fs-sm" href="home-grocery-store.html#" data-bs-dismiss="offcanvas" role="tab"><i class="ci-close fs-xs me-2"></i>Close</a></li>
      </ul>
      <div class="offcanvas-body px-0 pt-3 pb-0" data-simplebar>
        <div class="tab-content">
          <!-- Categories-->
          <div class="sidebar-nav tab-pane fade show active" id="categories" role="tabpanel">
            <div class="widget widget-categories">
              <div class="accordion" id="shop-categories">
                <!-- Bakery-->
                <div class="accordion-item border-bottom" v-for="data in cats" v-on:click="routeToFeeds(data.id)" :key="data.id">
                  <h3 class="accordion-header px-grid-gutter">
                    <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse" data-bs-target="#bakery" aria-expanded="false" aria-controls="bakery">
                        <span class="d-flex align-items-center">
                            <!-- <img :src="proxyUrl+'/storage/backgrounds/'+data.picture" class="cat-img"> -->
                            <i class="ci-brea fs-lg opacity-60 mt-n1 me-2"></i>{{data.name}} <span class="text-grey  opacity-10 ml-5">({{data.ads}})</span></span>
                        </button>
                  </h3>
                  <!-- <div class="collapse" id="bakery" data-bs-parent="#shop-categories">
                    <div class="px-grid-gutter pt-1 pb-4">
                      <div class="widget widget-links">
                        <ul class="widget-list">
                          <li class="widget-list-item"><a class="widget-list-link" href="home-grocery-store.html#">View all</a></li>
                        </ul>
                      </div>
                    </div>
                  </div> -->
                </div>

   
              </div>
            </div>
          </div>
          <!-- Menu-->
          <div class="sidebar-nav tab-pane fade" id="menu" role="tabpanel">
            <div class="widget widget-categories">
              <div class="accordion" id="shop-menu">
                <!-- Homepages-->
                <div class="accordion-item border-bottom">
                  <h3 class="accordion-header px-grid-gutter">
                    <a class="accordion-button collapsed py-3"   href="/" 
                    aria-expanded="false" >Home</a>
                  </h3>
                </div>
                <div class="accordion-item border-bottom">
                  <h3 class="accordion-header px-grid-gutter">
                    <a class="accordion-button collapsed py-3" v-on:click="logout()"   href="#" 
                    aria-expanded="false" >Sign out</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offcanvas-footer d-block px-grid-gutter pt-4 pb-4 mb-2">
        <div class="d-flex mb-3"><i class="ci-support h4 mb-0 fw-normal text-primary mt-1 me-1"></i>
          <div class="ps-2">
            <div class="text-muted fs-sm">Support</div><a class="nav-link-style fs-md" href="tel:+100331697720">+254 0204407057</a>
          </div>
        </div>
        <div class="d-flex mb-3"><i class="ci-mail h5 mb-0 fw-normal text-primary mt-1 me-1"></i>
          <div class="ps-2">
            <div class="text-muted fs-sm">Email</div><a class="nav-link-style fs-md" href="mailto:info@marketlinkus.com">info@marketlinkus.com</a>
          </div>
        </div>

      </div>
    </aside>


    <main class="offcanvas-enabled" style="padding-top: 5rem;">
      <section class="ps-lg-4 pe-lg-3 pt-4">
        <div class="px-3 pt-2">
 <router-view></router-view>
        </div>
      </section>
    </main>
       



       <!-- Sign in / sign up modal-->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-secondary">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link fw-medium active" href="shop-single-v2.html#signin-tab" data-bs-toggle="tab" role="tab" aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Sign in</a></li>
              <li class="nav-item"><a class="nav-link fw-medium" href="shop-single-v2.html#signup-tab" data-bs-toggle="tab" role="tab" aria-selected="false"><i class="ci-user me-2 mt-n1"></i>Sign up</a></li>
            </ul>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body tab-content py-4" >
            <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="signin-tab" v-on:submit.prevent="login()">
              <div class="mb-3">
                <label class="form-label" for="si-email">Email address</label>
                <input class="form-control" type="email" v-model="message.email" id="si-email" placeholder="johndoe@example.com" required>
                <div class="invalid-feedback">Please provide a valid email address.</div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="si-password">Password</label>
                <div class="password-toggle">
                  <input class="form-control" v-model="message.password" type="password" id="si-password" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <div class="mb-3 d-flex flex-wrap justify-content-between">
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" id="si-remember">
                  <label class="form-check-label" for="si-remember">Remember me</label>
                </div><a v-on:click="showForget()" class="fs-sm" href="#">Forgot password?</a>
              </div>
              <button class="btn btn-success btn-shadow d-block w-100" type="submit">Sign in</button>
            </form>
            <hr>
            <form class="needs-validation tab-pane fade" autocomplete="off" novalidate id="signup-tab" v-on:submit.prevent="register()">
              <div class="mb-3">
                <label class="form-label" for="su-name">Full name</label>
                <input class="form-control" type="text" v-model="message.name" id="su-name" placeholder="John Doe" required>
                <div class="invalid-feedback">Please fill in your name.</div>
              </div>
              <div class="mb-3">
                <label for="su-email">Email address</label>
                <input class="form-control" type="email" id="su-email" v-model="message.email" placeholder="johndoe@example.com" required>
                <div class="invalid-feedback">Please provide a valid email address.</div>
              </div>
              <div class="mb-3">
                <label for="su-email">Phone no.</label>
                 <vue-tel-input v-model="message.phone" v-bind="bindProps"></vue-tel-input>
              </div>
              <div class="mb-3">
                <label class="form-label" for="su-password">Password</label>
                <div class="password-toggle">
                  <input class="form-control" type="password" v-model="message.password" id="su-password" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="su-password-confirm">Confirm password</label>
                <div class="password-toggle">
                  <input class="form-control" type="password" v-model="message.repass" id="su-password-confirm" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <button class="btn btn-success btn-shadow d-block w-100" type="submit">Sign up</button>
            </form>
             <div class="row mt-5">
                <div class="col-sm-12 mb-1">
                  <div class="google-btn" @click.prevent="loginWithGoogle">
                     <div class="google-icon-wrapper">
                           <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                               </div>
                              <p class="btn-text"><b>Sign in with google</b></p>
                                </div>
                         </div>
                  </div>
          </div>
         
        </div>
      </div>
    </div>



       <!-- Sign in / sign up modal-->
    <div class="modal fade" id="password" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-secondary">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link fw-medium active" href="shop-single-v2.html#signin-tab" data-bs-toggle="tab" role="tab" aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Forget password</a></li>
            </ul>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body tab-content py-4" >
            <form class="needs-validation tab-pane fade show active" autocomplete="off" v-on:submit.prevent="forget()" novalidate id="signin-tab">
              <div class="mb-3">
                <label class="form-label" for="si-email">Email address</label>
                <input class="form-control" type="email" v-model="message.email" id="si-email" placeholder="johndoe@example.com" required>
                <div class="invalid-feedback">Please provide a valid email address.</div>
              </div>
              <div class="mb-3 d-flex flex-wrap justify-content-between">
                <div class="form-check mb-2">
                </div><a class="fs-sm" v-on:click="showLogin()" href="#">Login instead</a>
              </div>
              <button class="btn btn-success btn-shadow d-block w-100" type="submit">Get password</button>
            </form>
             <div class="row mt-5">
                <div class="col-sm-12 mb-1">
                  <div class="google-btn" @click.prevent="loginWithGoogle">
                     <div class="google-icon-wrapper">
                           <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                               </div>
                              <p class="btn-text"><b>Sign in with google</b></p>
                                </div>
                         </div>
                  </div>
          </div>
         
        </div>
      </div>
    </div>
    </div>
</template>
<script>
    import googleOneTap from 'google-one-tap';
    export default {
        mounted() {
            if(this.auth!=='yes') {
                const options = {
                    client_id: '30173417980-1mr78rb4ietprqboovvm5j9hg3265fj2', // required
                    auto_select: true, // optional
                    cancel_on_tap_outside: false, // optional
                    context: 'signin', // optional
                };
                googleOneTap(options, (response) => {
                    // Send response to server
                    // console.log(response);
                    this.parseJwt(response.credential)
                });
            }
        },
        data() {
            return {
              bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                name:'',
                auth:'',
                pic:'',
                phone:'',
                profile_info:{},
                message:{},
                proxyUrl: process.env.MIX_APP_URL,
                cats:[],
            }
        },
        mounted() {
        this.$root.$on('signin', () => {
        this.showLoginModal();
        })
        },
        created(){
          this.getCategories();
            this.name=localStorage.getItem('name');
            this.auth=localStorage.getItem('auth');
            this.pic=localStorage.getItem('pic');
            this.phone=localStorage.getItem('phone');
        },
        watch:{
            '$route' (to, from) {
                this.name=localStorage.getItem('name');
                this.auth=localStorage.getItem('auth');
                this.pic=localStorage.getItem('pic');
                this.phone=localStorage.getItem('phone');
                if(this.auth==='yes'){
                    if(!localStorage.hasOwnProperty('phone')){
                        this.$router.push({name: 'profile'});
                        this.$toast.open({message: 'Please update your profile', type: 'info', position: 'top'});
                    }else{
                        if(this.phone.length<=9){
                            this.$router.push({name: 'profile'});
                            this.$toast.open({message: 'Please update your profile', type: 'info', position: 'top'});
                        }
                    }
                }
            }
        },
        methods: {
          showLogin(){
            $("#password").modal("hide");
            $("#signin-modal").modal("show");
          },
          showForget(){
           $("#signin-modal").modal("hide");
            $("#password").modal("show");
          },
          showLoginModal(){
              $("#signin-modal").modal("show");
          },
          loginWithGoogle () {
                this.$gAuth.signIn().then(GoogleUser => {
                    console.log(GoogleUser.getBasicProfile());
                    this.message.name=GoogleUser.getBasicProfile().getName();
                    this.message.email=GoogleUser.getBasicProfile().getEmail();
                    this.message.pic=GoogleUser.getBasicProfile().getImageUrl();
                    this.attemptLogin();
                })
                    .catch(error => {
                        this.$toast.open({message: 'Unable to login via g-mail!', type: 'error', position: 'top'});
                    })
            },
            attemptLogin(){
              $("#signin-modal").modal("hide");
               this.$loading(true)
                let uri =this.proxyUrl+`api/auth/attemptLogin`;
                this.axios.post(uri, this.message).then((response) => {
                   this.$loading(false)
                    if(response.data.status){
                        if(response.data.user.status==='Active') {
                            if (response.data.user.user_type === 'user') {
                                localStorage.setItem('token', response.data.access_token);
                                localStorage.setItem('name', response.data.user.name);
                                localStorage.setItem('pic', response.data.user.pic);
                                localStorage.setItem('phone', response.data.user.phone);
                                localStorage.setItem('auth', 'yes');
                                 this.$toast.open({message: 'You are successfully signed in', type: 'success', position: 'top'});
                                $("#signin-modal").modal("hide");
                            } else {
                                this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                            }
                        }else{
                            this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                        }
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                   this.$loading(false)
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },
          register() {
              $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/signup`;
                this.axios.post(uri, this.message).then((response) => {
                  $('.modal-content').loader('hide');
                    if(response.data.status){
                        if(response.data.user.status==='Active') {
                            if (response.data.user.user_type === 'user') {
                                localStorage.setItem('token', response.data.access_token);
                                localStorage.setItem('name', response.data.user.name);
                                localStorage.setItem('pic', response.data.user.pic);
                                localStorage.setItem('phone', response.data.user.phone);
                                localStorage.setItem('auth', 'yes');
                               this.$toast.open({message: 'You are successfully signed up', type: 'success', position: 'top'});
                                $("#signin-modal").modal("hide");
                            } else {
                                this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                            }
                        }else{
                            this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                        }
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },
          login() {
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/login`;    
                this.axios.post(uri, this.message).then((response) => {
                     $('.modal-content').loader('hide');
                    if(response.data.status){
                        if(response.data.user.status==='Active') {
                            if (response.data.user.user_type === 'user') {
                                localStorage.setItem('token', response.data.access_token);
                                localStorage.setItem('name', response.data.user.name);
                                localStorage.setItem('pic', response.data.user.pic);
                                localStorage.setItem('phone', response.data.user.phone);
                                localStorage.setItem('auth', 'yes');
                                this.$toast.open({message: 'You are successfully signed in', type: 'success', position: 'top'});
                                $("#signin-modal").modal("hide");
                            } else {
                                this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                            }
                        }else{
                            this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                        }
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },
            forget() {
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/forget`;    
                this.axios.post(uri, this.message).then((response) => {
                     $('.modal-content').loader('hide');
                    if(response.data.status){
                       this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                      this.showLogin();
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },
            routeToFeeds2(){
              const id=this.message.category_id;
           this.$router.push({name: 'feeds',params:{id}});
           this.$root.$emit('loadFeeds') //like this
          },
          routeToFeeds(id){
          this.$router.push({name: 'feeds',params:{id}});
           this.$root.$emit('loadFeeds') //like this
          },
          getAdsByrandomSearch(){
                this.$router.push({name: 'search',params:{id:this.message.search}});
                this.$root.$emit('loadSearch') //like this
            },
            getCategories(){
                let uri =this.proxyUrl+`api/auth/category`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.cats=response.data.cats;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.getCategories();
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            
             parseJwt (token) {
                 var base64Url = token.split('.')[1];
                 var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
                 var jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
                     return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                 }).join(''));
                 this.profile_info=JSON.parse(jsonPayload);
                 this.attemptLoginAuto();
             },
            attemptLoginAuto(){
                 this.profile_info.pic=this.profile_info.picture
                let uri =this.proxyUrl+`api/auth/attemptLogin`;
                this.axios.post(uri, this.profile_info).then((response) => {
                    if(response.data.status){
                        if(response.data.user.status==='Active') {
                            if (response.data.user.user_type === 'user') {
                                localStorage.setItem('token', response.data.access_token);
                                localStorage.setItem('name', response.data.user.name);
                                localStorage.setItem('pic', response.data.user.pic);
                                localStorage.setItem('phone', response.data.user.phone);
                                localStorage.setItem('auth', 'yes');
                            } else {

                            }
                        }else{

                        }
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {

                });

            },
            logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('auth');
                localStorage.removeItem('phone');
                 this.$toast.open({message: 'You are successfully signed out', type: 'success', position: 'top'});          
                 this.$router.push({name: 'index'});
                 this.$router.go();

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
        }
    }
</script>
