<template>
  <!-- Sidebar-->
  <aside class="col-lg-4 pt-4 pt-lg-0 pe-xl-5">
    <div class="bg-white profile-card rounded-3 shadow-lg pt-1 mb-5 mb-lg-0">
      <div
        class="
          d-md-flex
          justify-content-between
          align-items-center
          text-center text-md-start
          p-4
        "
      >
        <div class="d-md-flex align-items-center">
          <div
            class="
              img-thumbnail
              rounded-circle
              position-relative
              flex-shrink-0
              mx-auto
              mb-2
              mx-md-0
              mb-md-0
            "
            style="width: 6.375rem"
          >
            <!-- <span
              class="badge bg-success position-absolute end-0 mt-n2"
              data-bs-toggle="tooltip"
              title="Reward points"
              ><i class="ci-check"></i
            ></span> -->
            <img class="rounded-circle" :src="message.pic" alt="" />
          </div>
          <div class="ps-md-3">
            <h3 class="fs-base mb-0">{{ message.name }}</h3>
            <span class="text-accent fs-sm">{{ message.email }}</span>
          </div>
        </div>
        <a
          class="btn btn-success d-lg-none mb-2 mt-3 mt-md-0"
          href="account-orders.html#account-menu"
          data-bs-toggle="collapse"
          aria-expanded="false"
          ><i class="ci-menu me-2"></i>Account menu</a
        >
      </div>
      <div class="d-lg-block collapse" id="account-menu">
        <div class="bg-secondary px-4 py-3">
          <h3 class="fs-sm mb-0 text-muted">Dashboard</h3>
        </div>
        <ul class="list-unstyled mb-0">
          <li class="border-bottom mb-0">
            <router-link
              to="/myads"
              class="nav-link-style d-flex align-items-center px-4 py-3"
              href="#"
            >
              <i class="ci-cart opacity-60 me-2"></i>My Adverts<span
                class="fs-sm text-muted ms-auto"
              ></span
            ></router-link>
          </li>
          <li class="border-bottom mb-0">
            <router-link
              to="/bookings"
              class="nav-link-style d-flex align-items-center px-4 py-3"
              href="#"
            >
              <i class="ci-heart opacity-60 me-2"></i>My bookings<span
                class="fs-sm text-muted ms-auto"
              ></span
            ></router-link>
          </li>
        </ul>
        <div class="bg-secondary px-4 py-3">
          <h3 class="fs-sm mb-0 text-muted">Account settings</h3>
        </div>
        <ul class="list-unstyled mb-0">
          <li class="border-bottom mb-0">
            <router-link
              to="/profile"
              class="nav-link-style d-flex align-items-center px-4 py-3"
              href="#"
            >
              <i class="ci-user opacity-60 me-2"></i>Profile info</router-link
            >
          </li>
          <li class="border-bottom mb-0">
            <router-link
              to="/password"
              class="nav-link-style d-flex align-items-center px-4 py-3"
              href="#"
            >
              <i class="ci-key opacity-60 me-2"></i>Password</router-link
            >
          </li>
          <li class="mb-0">
            <a
              v-on:click="logout()"
              class="nav-link-style d-flex align-items-center px-4 py-3"
              href="#"
            >
              <i class="ci-arrow-right opacity-60 me-2"></i>Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </aside>
</template>
<script>
export default {
  name: "App",
  components: {},
  data() {
    return {
      proxyUrl: process.env.MIX_APP_URL,
      message: {},
      bindProps: {
        mode: "international",
        disabledFetchingCountry: false,
        disabled: false,
        disabledFormatting: false,
        placeholder: "Enter a phone number",
        required: true,
        enabledCountryCode: true,
        enabledFlags: true,
        maxLen: 25,
        wrapperClasses: "",
        inputClasses: "",
        dropdownOptions: {
          disabledDialCode: false,
        },
        inputOptions: {
          showDialCode: true,
        },
      },
    };
  },
  created() {
    this.getProfile();
  },
  methods: {
    getProfile() {
      let uri = this.proxyUrl + `api/auth/getProfile`;
      this.axios
        .get(uri, {
          headers: { Authorization: "Bearer " + localStorage.getItem("token") },
        })
        .then((response) => {
          this.message = response.data.user;
          localStorage.setItem("phone", response.data.user.phone);
        })
        .catch((error) => {
          if (error.response.status === 401) {
            this.$router.push({ name: "login" });
            clearSession();
          } else {
            this.$toast.open({
              message: "Something went wrong!",
              type: "error",
              position: "top",
            });
          }
        });
    },

    logout() {
      localStorage.removeItem("token");
      localStorage.removeItem("auth");
      localStorage.removeItem("phone");
      this.$toast.open({
        message: "You are successfully signed out",
        type: "success",
        position: "top",
      });
      this.$router.push({ name: "index" });
      this.$router.go();
    },
  },
};
</script>
