<template>
    <div>
<!-- 2EB347 -->
      <!-- Slider-->
          <section class="tns-carousel mb-3 mb-md-5">
            <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 1, &quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: false, &quot;responsive&quot;: {&quot;0&quot;: {&quot;nav&quot;: true, &quot;controls&quot;: false}, &quot;576&quot;: {&quot;nav&quot;: false, &quot;controls&quot;: true}}}">
              <!-- Slide 1-->
              <div>
                <div class="rounded-3 px-md-5 text-center text-xl-start" style="background-color: #2EB347;">
                  <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto" style="max-width: 1226px;">
                    <div class="py-5 me-xl-4 mx-auto mx-xl-0" style="max-width: 490px;">
                      <h2 class="h2 text-light">Locate, Buy & Sell for Free</h2>
                      <p class="text-light pb-4">Marketlinkus is your Marketplace to Locate, Buy & Sell online everything that you need for free.</p>
                      <h5 class="text-light pb-3">On the go? Try our mobile app</h5>
                      <div class="d-flex flex-wrap justify-content-center justify-content-xl-start">
                        <router-link to="/hotels" class="btn btn-warning me-2 mb-2" href="#"
                       role="button"><span class="btn-market-subtitle"></span>
                       <span class="btn-market-title">Explore hotels</span></router-link>

                       <a class="btn btn-secondary mb-2" href="https://hotel.marketlinkus.com/register" target="_blank"
                       role="button"><span class="btn-market-subtitle"></span>
                       <span class="btn-market-title">
                           List your hotel</span></a></div>
                    </div>
                    <div><img src="/assets/img/grocery/slider/slider01.png" alt="Image"></div>
                  </div>
                </div>
              </div>
              <!-- Slide 2-->
              <div>
                <div class="rounded-3 px-md-5 text-center text-xl-start" style="background-color: #2EB347;">
                  <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto" style="max-width: 1226px;">
                    <div class="py-5 me-xl-4 mx-auto mx-xl-0" style="max-width: 490px;">
                      <h2 class="h2 text-light">Locate, Buy & Sell for Free</h2>
                      <p class="text-light pb-4">It's hassle free. Saves you time and money. Start now!.</p>
                      <h5 class="text-light pb-3">On the go? Try our mobile app</h5>
                      <div class="d-flex flex-wrap justify-content-center justify-content-xl-start">
                        <a class="btn-market btn-apple me-2 mb-2" href="#" role="button">
                          <span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App Store</span>
                          </a><a class="btn-market btn-google mb-2" href="#" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google Play</span></a></div>
                    </div>
                    <div><img src="/assets/img/grocery/slider/slide02.png" alt="Image"></div>
                  </div>
                </div>
              </div>
            </div>
          </section>
            <Trending></Trending>
              <Hotels></Hotels>
    </div>
</template>
<script>
    import  Trending from '../adds/trending'
    import  Hotels from '../hotel/trending'
    export default {
        name: 'App',
        components: {
            Trending,
            Hotels
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},

            }
        },
        created() {
            
        },
        methods: {
          
            routePage(id){
                this.$router.push({name: 'feeds',params:{id:id}});
            },
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                    this.cats=this.cats2;
                }else{
                    let ads =  this.cats2.filter(function(product) {
                        return product.name.toLowerCase().includes(filterval.toLowerCase()) || product.description.toLowerCase().includes(filterval.toLowerCase())
                    });
                    this.cats=ads;
                }
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }
</script>
