<template>
    <div>
        <div class="container py-5 mb-lg-3">
        <div class="row justify-content-center pt-lg-4 text-center">
          <div class="col-lg-5 col-md-7 col-sm-9">
            <h1 class="display-404 py-lg-3">SIGN IN</h1>
            <h2 class="h3 mb-4">Click one for the lists to sign in.</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-10">
            <div class="row">
              <div class="col-sm-4 mb-3" v-on:click="login()"><a class="card h-100 border-0 shadow-sm" href="#">
                  <div class="card-body">
                    <div class="d-flex align-items-center"><i class="ci-arrow-right text-primary h4 mb-0"></i>
                      <div class="ps-3">
                        <h5 class="fs-sm mb-0">Sign in</h5><span class="text-muted fs-ms">Click to login</span>
                      </div>
                    </div>
                  </div></a></div>
              <div class="col-sm-4 mb-3" v-on:click="login()"><a class="card h-100 border-0 shadow-sm" href="#">
                  <div class="card-body">
                    <div class="d-flex align-items-center"><i class="ci-user text-success h4 mb-0"></i>
                      <div class="ps-3">
                        <h5 class="fs-sm mb-0">Sign up</h5><span class="text-muted fs-ms">Create new account</span>
                      </div>
                    </div>
                  </div></a></div>
              <div class="col-sm-4 mb-3" v-on:click="login()"><a  class="card h-100 border-0 shadow-sm" href="#">
                  <div class="card-body">
                    <div class="d-flex align-items-center"><i class="ci-key text-info h4 mb-0"></i>
                      <div class="ps-3">
                        <h5 class="fs-sm mb-0">Forget &amp; password</h5><span class="text-muted fs-ms">Reset password</span>
                      </div>
                    </div>
                  </div></a></div>
            </div>
          </div>
        </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
         
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        created() {
         
        },
        methods: {
          login(){
               this.$root.$emit('signin') //like this
          }
           

        }
    }
</script>
