<template>
    <div>
<!-- Page Title-->

   <ProfileNav></ProfileNav>

      <div class="container pb-5 mb-2 mb-md-4">
        <div class="row">
            <ProfileAside></ProfileAside>
         
          <!-- Content  -->
          <section class="col-lg-8">
            <!-- Toolbar-->
            <div class="d-flex justify-content-between align-items-center pt-lg-2 pb-4 pb-lg-5 mb-lg-3">
              <div class="d-flex align-items-center">
                <label class="d-none d-lg-block fs-sm text-light text-nowrap opacity-75 me-2" for="order-sort">Personal information</label>
              </div>
              <a v-on:click="logout()" class="btn btn-success btn-sm d-none d-lg-inline-block" href="#"><i class="ci-sign-out me-2"></i>Sign out</a>
            </div>
            <!-- Orders list-->
            
           <div class="card">
               <div class="card-body">
                   <div class="row justify-content-center">
                       <div class="col-sm-8">
                           <form v-on:submit.prevent="updateProfile()">
                            <div class="form-group">
                                                      <label for="sc">Name <i class="text-danger">*</i> <span class="text-success"></span></label>
                                                      <input class="form-control form-control" v-model="message.name" placeholder="Name " >
                                                  </div>
                                                   <div class="form-group">
                                                      <label for="sc">Email <i class="text-danger">*</i> <span class="text-success"></span></label>
                                                      <input class="form-control form-control" v-model="message.email" placeholder="Email " >
                                                  </div>
                            <div class="form-group ">
                                                      <label for="c">Phone no. <i class="text-danger">*</i></label>
                                                      <vue-tel-input v-model="message.phone" v-bind="bindProps"></vue-tel-input>
                            </div>
                            <br/>
                            <div class="form-group ">
                                <button class="btn btn-success btn-shadow d-block w-100" type="submit">Update profile</button>
                            </div>
                           </form>

                       </div>
                   </div>
                   
               </div>

           </div>

          </section>
        </div>
      </div>

    </div>
</template>
<script>
import  ProfileNav from '../view/profile-nav'
import  ProfileAside from '../view/profile-aside'
    export default {
        name: 'App',
        components: {
            ProfileNav,ProfileAside
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
            }
        },
        created() {
            this.getProfile();
        },
        methods: {
            getProfile() {
                let uri =this.proxyUrl+`api/auth/getProfile`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.message=response.data.user;
                    localStorage.setItem('phone', response.data.user.phone);
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });

            },
            updateProfile() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/updateProfile`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.getProfile();
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });

            },
           

        }
    }
</script>
