<template>
<div class="container">
        <div class="bg-light shadow-lg rounded-3 detail-card">
            {{currentPage}} / {{pageCount}}
  <pdf
			v-for="i in numPages"
			:key="i"
			:src="src"
			:page="i"
			style="display: inline-block; width: 100%"
		></pdf>

        </div>
</div>
</template>

<script>
import pdf from 'vue-pdf'
var loadingTask = pdf.createLoadingTask('/Terms of use.pdf');
export default {
  components: {
    pdf
  },
  data() {
		return {
			src: loadingTask,
			numPages: undefined,
		}
	},
    	mounted() {

		this.src.promise.then(pdf => {

			this.numPages = pdf.numPages;
		});
	}
} 
</script>