html,
body {
    /* font-family: "Neue Montreal", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    /* color: #444444; */
    /* font-size: 16px; */
    /* height: 100%; */
    /* margin: 0; */
    /* font-weight: 700; */
}

.btn-warning {
    background-color: orange;
}

.text-success {
    color: #defde4;
}

.xbtn {
    border-radius: 0%;
    background-color: red;
}

.btn-success {
    background-color: #2EB347;
}

.text-warning {
    color: #E26B03;
}


/* .card-img-top{
    width: 250px;
    height: 200px;
} */

.img-product {
    width: 250px;
    height: 200px;
    object-fit: fill;
}

.gullery-img {
    max-height: 500px;
    width: 100%;
    object-fit: fill;
}

.img-product-trend {
    width: 150px;
    height: 150px;
    object-fit: fill;
}

.cat-img {
    max-width: 10%;
    border-radius: 10%;
    object-fit: fill;
}

.ml-5 {
    margin-left: 10px;
}

.mr-2 {
    margin-right: 4px;
}

.product-card,
.detail-card,
.profile-card,
.card {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.google-btn {
    width: 100%;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}

.google-btn .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}

.google-btn .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}

.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
    background: #1669F2;
}