<template>
   <div>

<div class="container">
        <div class="bg-light shadow-lg rounded-3 detail-card">
          <!-- Tabs-->
          <!-- <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link py-4 px-sm-4 active" href="shop-single-v2.html#general" data-bs-toggle="tab" role="tab">General <span class='d-none d-sm-inline'>Info</span></a></li>
            <li class="nav-item"><a class="nav-link py-4 px-sm-4" href="shop-single-v2.html#specs" data-bs-toggle="tab" role="tab"><span class='d-none d-sm-inline'>Tech</span> Specs</a></li>
          </ul> -->
          <div class="px-4 pt-lg-3 pb-3">
            <div class="tab-content px-lg-3">
              <!-- General info tab-->
              <div class="tab-pane fade show active" id="general" role="tabpanel">
                <div class="row">
                  <!-- Product gallery-->
                  <div class="col-lg-7 pe-lg-0">    
                <carousel :per-page="1"  :mouse-drag="true" :autoplay="true" :autoplayTimeout="5000" :centerMode="true" :loop="true"
                :navigationEnabled="true" :paginationActiveColor="'#2EB347'" >
                <slide v-for="data in pics" :key="data.id">
                    <img :src="proxyUrl+'/storage/Ads/'+data.url" alt="loading..." class="gullery-img">
                </slide>
                </carousel>
                <br>
               <hr>
              <hr>
               <p v-html="ads.description"></p>


                  </div>
                  <!-- Product details-->
                  <div class="col-lg-5 pt-4 pt-lg-0">
                    <div class="product-details ms-auto pb-3">
                      <div v-if="ads.price===0 || ads.price==='0'" class="h3 fw-normal text-success mb-3 me-1"><small>Contact for price</small></div>
                      <div v-else class="h3 fw-normal text-success mb-3 me-1">Ksh.<small>{{formatPrice(ads.price)}}</small></div>

                      <div class="fs-sm mb-4"><span class="text-heading fw-medium me-1">Name:</span><span class="text-muted" id="colorOption">{{ads.title}}</span></div>
                      <div class="position-relative me-n4 mb-3">
                        <div class="fs-sm mb-4"><span class="text-heading fw-medium me-1">Promoted:</span><span class=" text-success" id="colorOption">YES</span></div>
                        
                        <div class="product-badge product-available mt-n1"><i class="ci-security-check"></i>Verified</div>
                      </div>
                      <div class="d-flex align-items-center pt-2 pb-4">
                        <router-link to="/add/post" class="btn btn-warning btn-shadow mr-2"  ><i class="ci-add fs-lg me-2"></i></router-link>
                        <button v-if="showcontact==='false'" v-on:click="showContact()" class="btn btn-success btn-shadow d-block w-100" type="button"><i class="ci-phone fs-lg me-2"></i>SHOW CONTACT</button>
                         <a class="btn btn-success btn-shadow d-block w-100" v-else :href="'tel:'+ads.phone1" ><i class="ci-phone fs-lg me-2"></i>{{ads.phone1}}</a>
                      </div>
                      <div class="d-flex mb-4">
                        <div class="w-100 me-3">
                          <button class="btn btn-secondary d-block w-100" type="button"><i class="ci-eye fs-lg me-2"></i><span class='d-none d-sm-inline'>{{ (+views)+(+days)}} </span>views</button>
                        </div>
                        <div class="w-100">
                          <button class="btn btn-secondary d-block w-100" type="button"><i class="ci-message fs-lg me-2"></i>Comment</button>
                        </div>
                      </div>
                      <!-- Product panels-->
                      <div class="accordion mb-4" id="productPanels">
                        <div class="accordion-item">
                          <h3 class="accordion-header"><a class="accordion-button" href="#" 
                          role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="shippingOptions">
                          <i class="ci-danger text-muted lead align-middle mt-n1 me-2"></i>Safety Tips</a></h3>
                          <div class="accordion-collapse collapse show" id="shippingOptions" data-bs-parent="#productPanels">
                            <div class="accordion-body fs-sm">
                              <div class=" border-bottom pb-2">
                             <li>Do not pay in advance even for the delivery </li>
                             <li>Try to meet at a safe, public location </li>
                             <li>Check the item BEFORE you buy it</li>
                             <li>Pay only after collecting the item </li>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h3 class="accordion-header"><a class="accordion-button collapsed" href="#"
                           role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="localStore">
                           <i class="ci-location text-muted fs-lg align-middle mt-n1 me-2"></i>Location and Other</a></h3>
                          <div class="accordion-collapse collapse" id="localStore" data-bs-parent="#productPanels">
                            <div class="accordion-body">
                              <div class="d-flex justify-content-between border-bottom pb-2">
                                <div>
                                  <div class="fw-semibold text-dark">Year of manufacture</div>
                                  <!-- <div class="fs-sm text-muted">2 - 4 days</div> -->
                                </div>
                                <div>{{ads.year}}</div>
                              </div>
                              <div class="d-flex justify-content-between border-bottom py-2">
                                <div>
                                  <div class="fw-semibold text-dark">Country</div>
                                  <!-- <div class="fs-sm text-muted">4 - 6 days</div> -->
                                </div>
                                <div>{{ads.country}}</div>
                              </div>
                              <div class="d-flex justify-content-between pt-2">
                                <div>
                                  <div class="fw-semibold text-dark">Region</div>
                                  <div class="fs-sm text-muted">&mdash;</div>
                                </div>
                                <div>{{ads.region}}</div>
                              </div>
                              <div class="d-flex justify-content-between pt-2">
                                <div>
                                  <div class="fw-semibold text-dark">Location</div>
                                  <div class="fs-sm text-muted">&mdash;</div>
                                </div>
                                <div>{{ads.location}}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Sharing-->
                     
                    <div class="d-flex mb-4">
                        <div class="w-100 me-3">
                          <button class="btn btn-secondary d-block w-100" type="button"><i class="ci-home fs-lg me-2"></i><span class='d-none d-sm-inline'>{{formatPrice(ads.mileage)}} km</span></button>
                        </div>
                        <div class="w-100">
                          <button class="btn btn-secondary d-block w-100" type="button"><i class="ci-check fs-lg me-2"></i>{{ads.condition}}</button>
                        </div>
                      </div>
                       <div class="text-center">
                        Share on <share-it :size="80" :icons="true" :targets="['whatsapp','twitter', 'facebook']" :text="'Its hassle free. Saves you time and money. Locate '+ads.title+' Here'" :url="'https://marketlinkus.com/feeds/detailed/'+message.uuid"  />
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



         <section class="ps-lg-4 pe-lg-3 pt-4">
        <div class="px-3 pt-2">
          <!-- Page title + breadcrumb-->
          <!-- Content-->
          <!-- Sorting-->
          <section class="d-md-flex justify-content-between align-items-center mb-4 pb-2">
            <h1 class="h2 mb-3 mb-md-0 me-3">Similar ads</h1>
          </section>
          <!-- Product grid-->
          <div class="row g-0 mx-n2">
            <!-- Product-->
            <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3" v-for="data in similar" :key="data.id">
              <div class="card product-card card-static pb-3" v-on:click="routeToDetail(data.uuid)">
                <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left"
                 title="Add to wishlist"><i class="ci-check text-success"></i></button>
                 <a class="card-img-top d-block overflow-hidden" href="#">
                 <img :src="proxyUrl+'/storage/Ads/'+data.url" alt="" class="img-product"> 
                 </a>
                <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="g#">{{data.condition}}</a>
                  <h3 class="product-title fs-sm text-truncate"><a href="#">{{data.title}}</a></h3>
                  <div class="product-price"><span class="text-accent">Ksh.<small>{{formatPrice(data.price)}}</small></span></div>
                </div>
                <div class="product-floating-btn">
                  <button class="btn btn-success btn-shadow btn-sm" type="button">+<i class="ci-eye fs-base ms-1"></i></button>
                </div>
              </div>
            </div>

          </div>
          
        </div>
      </section>
</div>
   </div>
</template>
<script>
import { Carousel, Slide } from 'vue-carousel';
    export default {
        name: 'App',
        components: {
             Carousel,Slide
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                comment:{},
                message:{},
                message2:{},
                ads:{},
                similar:[],
                pics:[],
                f_image:{},
                owner:{},
                showcontact:'false',
                views:'0',
                days:'0',
                cat:{}

            }
        },
        created() {
            this.message.uuid=this.$route.params.id;
                this.getData();
                this.getIpAddress();
        },
        methods: {
            routeToDetail(id){
                this.$router.push({name: 'detailed',params:{id:id}});
                  this.message.uuid=this.$route.params.id;
                this.getData();
                // this.$router.go();
            },
            getIpAddress(){
                fetch('https://api.ipify.org?format=json')
                    .then(x => x.json())
                    .then(({ ip }) => {
                        this.message2.ip_address = ip;
                    });
            },
            showContact(){
               this.showcontact='true'
            },
            getData() {
                 this.$loading(true)
                let uri =this.proxyUrl+`api/auth/getAdsByuuid`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.$loading(false)
                   this.pics=response.data.pics;
                    this.f_image=response.data.pics[0];
                    this.ads=response.data.ads;
                    this.owner=response.data.owner;
                    this.views=response.data.views;
                    this.days=response.data.days;
                    this.message2.ads_id=this.ads.id
                    this.saveViewer();
                    this.similar=response.data.similar;
                    this.cat=response.data.cat;
                }).catch(error => {
                     this.$loading(false)
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            postComment(){
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                this.comment.ads_id=this.ads.id;
                let uri =this.proxyUrl+`api/auth/postComment`;
                this.axios.post(uri,this.comment,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.comment={};
                }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        $("#reserve").modal("hide");
                        this.$router.push({name: 'booking_view',params:{id:response.data.booking_id}});
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                });
            },
            saveViewer() {
                let uri =this.proxyUrl+`api/auth/saveViewer`;
                this.axios.post(uri,this.message2,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {

                }).catch(error => {

                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }
</script>
