<template>
    <div>
        <section class="ps-lg-4 pe-lg-3 pt-4">
        <div class="px-3 pt-2">
          <!-- Page title + breadcrumb-->
          <nav class="mb-4" aria-label="breadcrumb" >
            <ol class="breadcrumb ">
              <li class="breadcrumb-item"><a v-on:click="getData()" class="text-nowrap" href="#"><i class="ci-home"></i>All</a></li>
              <li class="breadcrumb-item text-nowrap  active" aria-current="page" v-for="data in subcats" :key="data.id" v-on:click="getAdsBySubcat(data.id)"><a href="#">{{data.name}}</a></li>
            </ol>
          </nav>
          <!-- Content-->
          <!-- Sorting-->
          <section class="d-md-flex justify-content-between align-items-center mb-4 pb-2">
            <h1 class="h2 mb-3 mb-md-0 me-3">{{cat.name}}</h1>
            <div class="d-flex align-items-center">
              <div class="d-none d-sm-block py-2 fs-sm text-muted text-nowrap me-2">Sort by:</div>
              <ul class="nav nav-tabs fs-sm mb-0">
                <li class="nav-item"><a class="nav-link " href="#" v-on:click="getAdsByNewest()">Newest</a></li>
                <li class="nav-item"><a class="nav-link" href="#" v-on:click="getAdsByLowestprice()">Lowest</a></li>
                <li class="nav-item"><a class="nav-link" href="#" v-on:click="getAdsByHigestprice()">Highest</a></li>
              </ul>
            </div>
          </section>
          <!-- Product grid-->
           <div class="container">
          <div class="row g-0 mx-n2">
          
              
            <!-- Product-->
           <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3" v-for="data in pageOfItems" :key="data.id">
              <div class="card product-card card-static pb-3" v-on:click="routeToDetail(data.uuid)">
                <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left"
                 title="Add to wishlist"><i class="ci-check text-success"></i></button>
                 <a class="card-img-top d-block overflow-hidden" href="#">
                 <img :src="proxyUrl+'/storage/Ads/'+data.url" alt="" class="img-product"> 
                 </a>
                <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{{data.condition}}</a>
                  <h3 class="product-title fs-sm text-truncate"><a href="#">{{data.title}}</a></h3>
                  <div class="product-price"><span class="text-accent">Ksh.<small>{{formatPrice(data.price)}}</small></span></div>
                </div>
                <div class="product-floating-btn">
                  <button class="btn btn-success btn-shadow btn-sm" type="button">+<i class="ci-eye fs-base ms-1"></i></button>
                </div>
              </div>
            </div>
          </div>
           <div v-if="ads.length<=0" class="container py-5 mb-lg-3">
           <div class="row justify-content-center  text-center">
          <div class="col-lg-6 ">
            <h1 class="display-404 py-lg-3">No adverts!</h1>
          </div>
        </div>
            </div>
          <div class="py-4 pb-md-5 mb-4">
            <!-- Pagination-->
            <jw-pagination :items="ads" @changePage="onChangePage" :pageSize="64"></jw-pagination> 
           </div> 
           </div>
          
        </div>
      </section>
      
    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {

        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{country: '', region: ''},
                image: '',
                ads:[],
                ads2:[],
                cats:[],
                cat:{},
                categories:[],
                categories2:[],
                subcats:[],
                display:'false',
                allAds:'0',
                list: [],
                pageOfItems:[]
            }
        },
        mounted() {
        this.$root.$on('loadFeeds', () => {
        this.message.category_id=this.$route.params.id;
        this.getData();
        })
        },
        created() {
            this.message.category_id=this.$route.params.id;
            this.getData();  
        },
        
        methods: {
            onChangePage(pageOfItems) {
                // update page of items
                this.pageOfItems = pageOfItems;
            },
            showcatModal(){
                $("#cat").modal("show");
            },
            showsubcatModal(){
                $("#subcat").modal("show");
            },
            showrecommendedModal(){
                $("#recommended").modal("show");
            },
            getAdsByCategory(id){
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                this.$router.push({name: 'feeds',params:{id:id}});
                this.$router.go();
            },
            getCategories() {
                let uri =this.proxyUrl+`api/auth/category`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.categories=response.data.cats;
                    this.categories2=response.data.cats;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            getAdsBySimpleSearch(){
                $('.load').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getAdsBySimpleSearch`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.load').loader('hide');
                    this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                    this.display='true';
                }).catch(error => {
                    $('.load').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            adsByRegion(){
                $('.load').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/adsByRegion`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.load').loader('hide');
                    this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                    this.display='true';
                }).catch(error => {
                    $('.load').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            routeToDetail(id){
                this.$router.push({name: 'detailed',params:{id:id}});
            },
            getSubcategory(){
                let uri =this.proxyUrl+`api/auth/getothercat/${this.message.category_id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.subcats=response.data.cats;
                    this.cat=response.data.category;
                    this.allAds=response.data.allAds;


                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'You have to sign in first!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            getAdsByHigestprice(){
                 this.$loading(true)
                  let uri =this.proxyUrl+`api/auth/getAdsByHigestprice`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                   this.$loading(false)
                    this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                }).catch(error => {
                     this.$loading(false)
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            getAdsByLowestprice(){
                this.$loading(true)
                let uri =this.proxyUrl+`api/auth/getAdsByLowestprice`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                     this.$loading(false)
                    this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                }).catch(error => {
                     this.$loading(false)
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            getAdsByNewest(){
                 this.$loading(true)
                let uri =this.proxyUrl+`api/auth/getAdsByNewest`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.$loading(false)
                    this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                }).catch(error => {
                     this.$loading(false)
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            getAdsBySubcat(id){
                this.message.subcategory_id=id;
                this.$loading(true)
                let uri =this.proxyUrl+`api/auth/getAdsBySubcat`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                   this.$loading(false)
                    this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                }).catch(error => {
                  this.$loading(false)
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            getData() {
                this.$loading(true)
                let uri =this.proxyUrl+`api/auth/getAdsByCat`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                  this.$loading(false)
                  this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                     this.getSubcategory();
                }).catch(error => {
                    this.$loading(false)
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                    this.ads=this.ads2;
                }else{
                    let ads =  this.ads2.filter(function(product) {
                        return product.location.toLowerCase().includes(filterval.toLowerCase()) || product.region.toLowerCase().includes(filterval.toLowerCase())
                    });
                    this.ads=ads;
                }
            },
            
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }

</script>
