<template>
    <div>
<!-- Page Title-->

   <ProfileNav></ProfileNav>

      <div class="container pb-5 mb-2 mb-md-4">
        <div class="row">
            <ProfileAside></ProfileAside>
         
          <!-- Content  -->
          <section class="col-lg-8">
            <!-- Toolbar-->
            <div class="d-flex justify-content-between align-items-center pt-lg-2 pb-4 pb-lg-5 mb-lg-3">
              <div class="d-flex align-items-center">
                <label class="d-none d-lg-block fs-sm text-light text-nowrap opacity-75 me-2" for="order-sort">My adverts</label>
                <!-- <label class="d-lg-none fs-sm text-nowrap opacity-75 me-2" for="order-sort">Sort orders:</label> -->
                <!-- <select class="form-select" id="order-sort">
                  <option>All</option>
                  <option>Delivered</option>
                  <option>In Progress</option>
                  <option>Delayed</option>
                  <option>Canceled</option>
                </select> -->
              </div>
              <a v-on:click="logout()" class="btn btn-success btn-sm d-none d-lg-inline-block" href="#"><i class="ci-sign-out me-2"></i>Sign out</a>
            </div>
            <!-- Orders list-->
            <div class="table-responsive fs-md mb-4">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Promotion</th>
                    <th>Expiry Date</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(ad,index) in pageOfItems" :key="ad.id">
                                    <td>{{index+1}}</td>
                                    <td>{{ad.title}}</td>
                                    <td class="text-success" v-if="ad.promoted==='YES'">{{ad.promoted}}</td>
                                    <td class="text-danger" v-else>{{ad.promoted}}</td>
                                    <td v-if="ad.promoted==='YES'" class="text-primary">{{ad.expires_at}}</td>
                                    <td v-else class="text-success">RUNNING...</td>
                                    <td ><a href="#" class="btn btn-success btn-sm ci-edit" v-on:click="Edit(ad.id)">Edit</a></td>
                                    <td ><router-link :to="{name:'view',params:{id:ad.id}}" href="#" class="btn btn-warning btn-sm ci-money-bag">Promote now</router-link></td>
                    </tr>
       
                </tbody>
              </table>
            </div>
            <div class="py-4 pb-md-5 mb-4">
            <!-- Pagination-->
            <jw-pagination :items="ads" @changePage="onChangePage" :pageSize="10" ></jw-pagination> 
           </div> 
          </section>
        </div>
      </div>

    </div>
</template>
<script>
import  ProfileNav from '../view/profile-nav'
import  ProfileAside from '../view/profile-aside'
    export default {
        name: 'App',
        components: {
            ProfileNav,ProfileAside
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                image: '',
                ads:[],
                pageOfItems:[]
            }
        },
        created() {
        this.getData();
        },
        methods: {
            onChangePage(pageOfItems) {
                this.pageOfItems = pageOfItems;
            },
            Edit(id){
                localStorage.setItem('ads_id',id);
                this.$router.push({name: 'edit'});
            },
            getData() {
                let uri =this.proxyUrl+`api/auth/myAdds`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.ads=response.data.ads;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });

            },

        }
    }
</script>
