<template>
    <div>
        <section class="ps-lg-4 pe-lg-3 pt-4">
        <div class="px-3 pt-2">
          <!-- Page title + breadcrumb-->
          <nav class="mb-4" aria-label="breadcrumb">
            <ol class="breadcrumb ">
              <li class="breadcrumb-item"><a v-on:click="getData()" class="text-nowrap" href="#"><i class="ci-home"></i>Search result for {{message.search}}</a></li>
             
            </ol>
          </nav>
          <!-- Content-->
         
          <!-- Product grid-->
          <div class="container">
          <div class="row g-0 mx-n2">
            <!-- Product-->
           <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3" v-for="data in pageOfItems" :key="data.id">
              <div class="card product-card card-static pb-3" v-on:click="routeToDetail(data.uuid)">
                <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left"
                 title="Add to wishlist"><i class="ci-check text-success"></i></button>
                 <a class="card-img-top d-block overflow-hidden" href="#">
                 <img :src="proxyUrl+'/storage/Ads/'+data.url" alt="" class="img-product"> 
                 </a>
                <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{{data.condition}}</a>
                  <h3 class="product-title fs-sm text-truncate"><a href="#">{{data.title}}</a></h3>
                  <div class="product-price"><span class="text-accent">Ksh.<small>{{formatPrice(data.price)}}</small></span></div>
                </div>
                <div class="product-floating-btn">
                  <button class="btn btn-success btn-shadow btn-sm" type="button">+<i class="ci-eye fs-base ms-1"></i></button>
                </div>
              </div>
            </div>
            
            
        
          </div>
          <div class="py-4 pb-md-5 mb-4">
            <!-- Pagination-->
            <jw-pagination :items="ads" @changePage="onChangePage" :pageSize="64" ></jw-pagination> 
           </div> 
           </div>
          
        </div>
      </section>
      
    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {

        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{country: '', region: ''},
                image: '',
                ads:[],
                ads2:[],
                cats:[],
                cat:{},
                categories:[],
                categories2:[],
                subcats:[],
                display:'false',
                allAds:'0',
                list: [],
                 pageOfItems:[],
            }
        },
         mounted() {
        this.$root.$on('loadSearch', () => {
        this.message.search=this.$route.params.id;
        this.getAdsByrandomSearch();
        })
        },
        created() {
            this.message.search=this.$route.params.id;
            this.getAdsByrandomSearch();
        },
        methods: {
            routeToDetail(id){
                this.$router.push({name: 'detailed',params:{id:id}});
            },
            onChangePage(pageOfItems) {
                // update page of items
                this.pageOfItems = pageOfItems;
            },
            getAdsByrandomSearch(){
               this.$loading(true)
                let uri =this.proxyUrl+`api/auth/getAdsByrandomSearch`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.$loading(false)
                    this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                }).catch(error => {
                    this.$loading(false)
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                    this.ads=this.ads2;
                }else{
                    let ads =  this.ads2.filter(function(product) {
                        return product.location.toLowerCase().includes(filterval.toLowerCase()) || product.region.toLowerCase().includes(filterval.toLowerCase())
                    });
                    this.ads=ads;
                }
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }
</script>
