<template>
  <div>
    
<section class="ps-lg-4 pe-lg-3 pt-4">
        <div class="px-3 pt-2">
          <!-- Page title + breadcrumb-->
          <!-- Content-->
          <!-- Sorting-->
          <section class="d-md-flex justify-content-between align-items-center mb-4 pb-2">
            <h1 class="h4 mb-3 mb-md-0 me-3">Trending Ads</h1>
            <router-link to="/add/post" class="btn btn-warning">Post Advert</router-link>
          </section>
          <!-- Product grid-->
           <div class="container">
          <div class="row g-0 mx-n2">
            <!-- Product-->
            <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3" v-for="data in ads2" :key="data.id">
              <div class="card product-card card-static pb-3" v-on:click="routeToDetail(data.uuid)">
                <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left"
                 title="Add to wishlist"><i class="ci-check text-success"></i></button>
                 <a class="card-img-top d-block overflow-hidden" href="#">
                 <img :src="proxyUrl+'/storage/Ads/'+data.url" alt="" class="img-product"> 
                 </a>
                <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{{data.condition}}</a>
                  <h3 class="product-title fs-sm text-truncate"><a href="#">{{data.title}}</a></h3>
                  <div class="product-price"><span class="text-accent">Ksh.<small>{{formatPrice(data.price)}}</small></span></div>
                </div>
                <div class="product-floating-btn">
                  <button class="btn btn-success btn-shadow btn-sm" type="button">+<i class="ci-eye fs-base ms-1"></i></button>
                </div>
              </div>
            </div>

          </div>
           </div>
          
        </div>
      </section>



          <section class="ps-lg-4 pe-lg-3 pt-4">
        <div class="px-3 pt-2">
          <!-- Page title + breadcrumb-->
          <!-- Content-->
          <!-- Sorting-->
          <section class="d-md-flex justify-content-between align-items-center mb-4 pb-2">
            <h1 class="h4 mb-3 mb-md-0 me-3">Top automotives</h1>
              <router-link to="/add/post" class="btn btn-warning">Post Advert</router-link>
          </section>
          <!-- Product grid-->
           <div class="container">
          <div class="row g-0 mx-n2">
            <!-- Product-->
            <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3" v-for="data in ads" :key="data.id">
              <div class="card product-card card-static pb-3" v-on:click="routeToDetail(data.uuid)">
                <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left"
                 title="Add to wishlist"><i class="ci-check text-success"></i></button>
                 <a class="card-img-top d-block overflow-hidden" href="#">
                 <img :src="proxyUrl+'/storage/Ads/'+data.url" alt="" class="img-product"> 
                 </a>
                <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{{data.condition}}</a>
                  <h3 class="product-title fs-sm text-truncate"><a href="#">{{data.title}}</a></h3>
                  <div class="product-price"><span class="text-accent">Ksh.<small>{{formatPrice(data.price)}}</small></span></div>
                </div>
                <div class="product-floating-btn">
                  <button class="btn btn-success btn-shadow btn-sm" type="button">+<i class="ci-eye fs-base ms-1"></i></button>
                </div>
              </div>
            </div>

          </div>
           </div>
          
        </div>
      </section>
  </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                image: '',
                cats:[],
                cats2:[],
                ads:[],
                ads2:[],


            }
        },
        created() {
            this.getTrendingAds();
        },
        methods: {
            routeToDetail(id){
                this.$router.push({name: 'detailed',params:{id:id}});
            },
            getTrendingAds() {
                let uri =this.proxyUrl+`api/auth/getTrendingAds`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                     this.ads=response.data.ads;
                     this.ads2=response.data.ads2;
                   
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            showdetailed(id){
                this.$router.push({name: 'detailed',params:{id:id}});
            },

            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }
</script>
