<template>
  <div>
    <!-- Page Title-->

    <ProfileNav></ProfileNav>

    <div class="container pb-5 mb-2 mb-md-4">
      <div class="row">
        <ProfileAside></ProfileAside>

        <!-- Content  -->
        <section class="col-lg-8">
          <!-- Toolbar-->
          <div
            class="
              d-flex
              justify-content-between
              align-items-center
              pt-lg-2
              pb-4 pb-lg-5
              mb-lg-3
            "
          >
            <div class="d-flex align-items-center">
              <label
                class="
                  d-none d-lg-block
                  fs-sm
                  text-light text-nowrap
                  opacity-75
                  me-2
                "
                for="order-sort"
                >My Bookings</label
              >
              <!-- <label class="d-lg-none fs-sm text-nowrap opacity-75 me-2" for="order-sort">Sort orders:</label> -->
              <!-- <select class="form-select" id="order-sort">
                  <option>All</option>
                  <option>Delivered</option>
                  <option>In Progress</option>
                  <option>Delayed</option>
                  <option>Canceled</option>
                </select> -->
            </div>
            <a
              v-on:click="logout()"
              class="btn btn-success btn-sm d-none d-lg-inline-block"
              href="#"
              ><i class="ci-sign-out me-2"></i>Sign out</a
            >
          </div>
          <!-- Orders list-->
          <div class="table-responsive fs-md mb-4">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <td>#</td>
                  <td>Code</td>
                  <td>Hotel</td>
                  <td>Room</td>
                  <td>Status</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(ad, index) in pageOfItems" :key="ad.id">
                  <td>{{ index + 1 }}</td>
                  <td>{{ ad.booking_code }}</td>
                  <td>{{ ad.hotel_name }}</td>
                  <td>{{ ad.room_name }}</td>
                  <td>{{ ad.booking_status }}</td>
                  <td>
                    <a href="#" class="text-primary" v-on:click="Edit(ad.id)"
                      >View</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="py-4 pb-md-5 mb-4">
            <!-- Pagination-->
            <jw-pagination
              :items="ads"
              @changePage="onChangePage"
              :pageSize="10"
            ></jw-pagination>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>
<script>
import ProfileNav from "../view/profile-nav";
import ProfileAside from "../view/profile-aside";
export default {
  name: "App",
  components: {
    ProfileNav,
    ProfileAside,
  },
  data() {
    return {
      proxyUrl: process.env.MIX_APP_URL,
      message: {},
      image: "",
      ads: [],
      pageOfItems: [],
    };
  },
  created() {
    this.getData();
  },
  methods: {
    onChangePage(pageOfItems) {
      this.pageOfItems = pageOfItems;
    },
    Edit(id) {
      this.$router.push({ name: "booking_view", params: { id: id } });
    },
    getData() {
      let uri = this.proxyUrl + `api/auth/myBookings`;
      this.axios
        .get(uri, {
          headers: { Authorization: "Bearer " + localStorage.getItem("token") },
        })
        .then((response) => {
          this.ads = response.data.bookings;
        })
        .catch((error) => {
          if (error.response.status === 401) {
            this.$router.push({ name: "login" });
            clearSession();
          } else {
            this.$toast.open({
              message: "Something went wrong!",
              type: "error",
              position: "top",
            });
          }
        });
    },
  },
};
</script>
