<template>
   <div>

<div class="container">
        <div class="bg-light shadow-lg rounded-3 detail-card">
          <!-- Tabs-->
          <!-- <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link py-4 px-sm-4 active" href="shop-single-v2.html#general" data-bs-toggle="tab" role="tab">General <span class='d-none d-sm-inline'>Info</span></a></li>
            <li class="nav-item"><a class="nav-link py-4 px-sm-4" href="shop-single-v2.html#specs" data-bs-toggle="tab" role="tab"><span class='d-none d-sm-inline'>Tech</span> Specs</a></li>
          </ul> -->
          <div class="px-4 pt-lg-3 pb-3">
            <div class="tab-content px-lg-3">
              <!-- General info tab-->
              <div class="tab-pane fade show active" id="general" role="tabpanel">
                <div class="row">
                  <!-- Product gallery-->
                  <div class="col-lg-7 pe-lg-0">    
                <carousel :per-page="1"  :mouse-drag="true" :autoplay="true" :autoplayTimeout="5000" :centerMode="true" :loop="true"
                :navigationEnabled="true" :paginationActiveColor="'#2EB347'" >
                <slide v-for="data in pics" :key="data.id">
                    <img :src="proxyUrl+'/storage/Rooms/'+data.url" alt="loading..." class="gullery-img">
                </slide>
                </carousel>
                <br>
               <hr>
              <hr>
               <p v-html="ads.description"></p>


                  </div>
                  <!-- Product details-->
                  <div class="col-lg-5 pt-4 pt-lg-0">
                    <div class="product-details ms-auto pb-3">
                      <div v-if="ads.price===0 || ads.price==='0'" class="h3 fw-normal text-success mb-3 me-1"><small>Contact for price</small></div>
                      <div v-else class="h3 fw-normal text-success mb-3 me-1">Ksh.<small>{{formatPrice(ads.price)}}</small></div>

                      <div class="fs-sm mb-4"><span class="text-heading fw-medium me-1">Name:</span><span class="text-muted" id="colorOption">{{ads.name}}</span></div>
                      <div class="position-relative me-n4 mb-3">
                        <div class="fs-sm mb-4"><span class="text-heading fw-medium me-1">Promoted:</span><span class=" text-success" id="colorOption">YES</span></div>
                        
                        <div class="product-badge product-available mt-n1"><i class="ci-security-check"></i>Verified</div>
                      </div>
                      <div class="d-flex align-items-center pt-2 pb-4">
                        <a href="https://hotel.marketlinkus.com/register" target="_blank" class="btn btn-warning btn-shadow mr-2"  ><i class="ci-add fs-lg me-2"></i></a>
                        <button  v-on:click="CheckAuth()"   class="btn btn-success btn-shadow d-block w-100" type="button"><i class="ci-phone fs-lg me-2"></i>RESERVE NOW</button>
                      
                      </div>
                      <div class="d-flex mb-4">
                        <div class="w-100 me-3">
                          <button class="btn btn-secondary d-block w-100" type="button"><i class="ci-eye fs-lg me-2"></i><span class='d-none d-sm-inline'>Rooms {{ads.rooms}} </span></button>
                        </div>
                        <div class="w-100">
                          <button class="btn btn-secondary d-block w-100" type="button"><i class="ci-home fs-lg me-2"></i>Bends {{ads.beds}}</button>
                        </div>
                      </div>
                      <!-- Product panels-->
                      <div class="accordion mb-4" id="productPanels">
                        <div class="accordion-item">
                          <h3 class="accordion-header"><a class="accordion-button" href="#" 
                          role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="shippingOptions">
                          <i class="ci-danger text-muted lead align-middle mt-n1 me-2"></i>Safety Tips</a></h3>
                          <div class="accordion-collapse collapse show" id="shippingOptions" data-bs-parent="#productPanels">
                            <div class="accordion-body fs-sm">
                              <div class=" border-bottom pb-2">
                             <li>Do not pay in advance even for the delivery </li>
                             <li>Try to meet at a safe, public location </li>
                             <li>Check the item BEFORE you buy it</li>
                             <li>Pay only after collecting the item </li>
                              </div>
                            </div>
                          </div>
                        </div>
       
                      </div>
                      <!-- Sharing-->
                     
                    <div class="d-flex mb-4">
                       
                      </div>
                       <div class="text-center">
                         Share on <share-it :icons="true" :targets="['whatsapp','twitter', 'facebook']" :text="'Its hassle free. Saves you time and money. Locate rooms at '+hotel.hotel_name+' Here'" :url="'https://marketlinkus.com/room/'+$route.params.id"  />
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


 <div id="reserve" class="modal fade">
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="modal-body">
                        <form  v-on:submit.prevent="reserve()">
                        <h5>You are about to reserve:</h5>
                        <p class="text-center">Room Number: <span>{{ads.name}}</span></p>
                        <p class="text-center">At Hotel: <span>{{hotel.hotel_name}}</span></p>
                        <hr>
                        <div class="form-group mb-3">
                            <label>Reporting date<span class="required text-danger">*</span></label>
                            <input type="date" class="form-control" v-model="message.date" :min="today" required>
                        </div>
                            <div class="form-group mb-3">
                                <label>Leaving date<span class="required text-danger">*</span></label>
                                <input type="date" class="form-control" v-model="message.todate" :min="today" required>
                            </div>
                            <div class="form-group mb-3">
                        <button type="submit"  class="btn btn-warning btn-block" >RESERVE NOW</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
         
</div>
   </div>
</template>
<script>
import { Carousel, Slide } from 'vue-carousel';
    export default {
        name: 'App',
        components: {
             Carousel,Slide
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                message2:{},
                ads:{},
                similar:[],
                pics:[],
                f_image:{},
                owner:{},
                showcontact:'false',
                views:'0',
                auth:'',
                hotel:{},
                today:new Date().toJSON().slice(0,10),

            }
        },
        created() {
            this.auth=localStorage.getItem('auth');
            this.message.uuid=this.$route.params.id;
                this.getData();
        },
        methods: {
            reserve() {
                this.message.hotel_id=this.hotel.id;
                this.message.room_id=this.ads.id;
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/reserve`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        $("#reserve").modal("hide");
                        this.$router.push({name: 'booking_view',params:{id:response.data.booking_id}});
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            showdetailed(id){
                this.$router.push({name: 'detailed',params:{id:id}});
                this.$router.go();
            },
            CheckAuth(){
                 this.auth=localStorage.getItem('auth');
                if(this.auth!=='yes'){
                    this.$root.$emit('signin')
                }else{
                    $("#reserve").modal("show");
                }
            },
            getData() {
              this.$loading(true)
                let uri =this.proxyUrl+`api/auth/getRoomByuuid/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                  this.$loading(false)
                  this.pics=response.data.pics;
                    this.ads=response.data.room;
                    this.hotel=response.data.hotel;
                }).catch(error => {
                 this.$loading(false)
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },

            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }
</script>
