<template>
  <div>
    <!-- Page Title-->

    <ProfileNav></ProfileNav>

    <div class="container pb-5 mb-2 mb-md-4">
      <div class="row justify-content-center">
        <!-- Content  -->
        <section class="col-lg-12">
          <!-- Toolbar-->
          <div
            class="
              d-flex
              justify-content-between
              align-items-center
              pt-lg-2
              pb-4 pb-lg-5
              mb-lg-3
            "
          >
            <div class="d-flex align-items-center">
              <label
                class="
                  d-none d-lg-block
                  fs-sm
                  text-light text-nowrap
                  opacity-75
                  me-2
                "
                for="order-sort"
                >Booking</label
              >
              <!-- <label class="d-lg-none fs-sm text-nowrap opacity-75 me-2" for="order-sort">Sort orders:</label> -->
              <!-- <select class="form-select" id="order-sort">
                  <option>All</option>
                  <option>Delivered</option>
                  <option>In Progress</option>
                  <option>Delayed</option>
                  <option>Canceled</option>
                </select> -->
            </div>
            <a
              v-on:click="logout()"
              class="btn btn-success btn-sm d-none d-lg-inline-block"
              href="#"
              ><i class="ci-sign-out me-2"></i>Sign out</a
            >
          </div>
          <!-- Orders list-->

          <div class="row justify-content-center">
            <div class="col-sm-12">
              <div class="card mb-3 mt-3 c4">
                <!--<hr>-->
                <div class="card-body" id="printElement">
                  <div class="container">
                    <div class="page-content container">
                      <div class="page-header text-blue-d2">
                        <h1 class="page-title text-secondary-d1">
                          Booking
                          <small class="page-info">
                            <i class="fa fa-angle-double-right text-80"></i>
                            ID: #{{ booking.booking_code }}
                          </small>
                        </h1>

                        <div class="page-tools">
                          <div class="action-buttons">
                            <a
                              v-on:click="printPDF()"
                              class="btn bg-white btn-light mx-1px text-95"
                              href="#"
                              data-title="Print"
                            >
                              <i
                                class="
                                  mr-1
                                  fa fa-print
                                  text-primary-m1 text-120
                                  w-2
                                "
                              ></i>
                              Print
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="container px-0">
                        <div class="row mt-4">
                          <div class="col-12 col-lg-10 offset-lg-1">
                            <!-- .row -->

                            <hr class="row brc-default-l1 mx-n1 mb-4" />

                            <div class="row">
                              <div class="col-sm-6">
                                <div>
                                  <span
                                    class="text-sm text-grey-m2 align-middle"
                                    >Name:</span
                                  >
                                  <span
                                    class="
                                      text-600 text-110 text-blue
                                      align-middle
                                    "
                                    >{{ booking.client_name }}</span
                                  >
                                </div>
                                <div class="text-grey-m2">
                                  <div class="my-1">
                                    {{ booking.phone }}
                                  </div>
                                  <div class="my-1">
                                    {{ booking.email }}
                                  </div>
                                </div>
                              </div>
                              <!-- /.col -->

                              <div
                                class="
                                  text-95
                                  col-sm-6
                                  align-self-start
                                  d-sm-flex
                                  justify-content-end
                                "
                              >
                                <hr class="d-sm-none" />
                                <div class="text-grey-m2">
                                  <div
                                    class="
                                      mt-1
                                      mb-2
                                      text-secondary-m1 text-600 text-125
                                    "
                                  >
                                    Booking
                                  </div>

                                  <div class="my-2">
                                    <i
                                      class="
                                        fa fa-circle
                                        text-blue-m2 text-xs
                                        mr-1
                                      "
                                    ></i>
                                    <span class="text-600 text-90">ID:</span>
                                    #{{ booking.booking_code }}
                                  </div>
                                  <div class="my-2">
                                    <i
                                      class="
                                        fa fa-circle
                                        text-blue-m2 text-xs
                                        mr-1
                                      "
                                    ></i>
                                    <span class="text-600 text-90"
                                      >Status:</span
                                    >
                                    <span
                                      class="
                                        badge badge-warning badge-pill
                                        px-25
                                      "
                                      >{{ booking.booking_status }}</span
                                    >
                                  </div>
                                </div>
                              </div>
                              <!-- /.col -->
                            </div>

                            <div class="mt-4">
                              <div class="table-responsive">
                                <table
                                  class="
                                    table table-striped table-borderless
                                    border-0 border-b-2
                                    brc-default-l1
                                  "
                                >
                                  <thead class="bg-none bgc-default-tp1">
                                    <tr class="text-white">
                                      <th class="opacity-2">#</th>
                                      <th>#</th>
                                    </tr>
                                  </thead>

                                  <tbody class="text-95 text-secondary-d3">
                                    <tr></tr>
                                    <tr>
                                      <td>Hotel Name</td>
                                      <td>{{ booking.hotel_name }}</td>
                                    </tr>
                                    <tr>
                                      <td>Room</td>
                                      <td>{{ booking.room_name }}</td>
                                    </tr>
                                    <tr>
                                      <td>Booking date</td>
                                      <td>{{ booking.created_at }}</td>
                                    </tr>
                                    <tr>
                                      <td>Booked from</td>
                                      <td>{{ booking.date }}</td>
                                    </tr>

                                    <tr>
                                      <td>Booked To</td>
                                      <td>{{ booking.todate }}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>

                              <div class="row mt-3">
                                <div
                                  class="
                                    col-12 col-sm-7
                                    text-grey-d2 text-95
                                    mt-2 mt-lg-0
                                  "
                                >
                                  Please quote the booking id when you arrive at
                                  the destination.
                                </div>

                                <div
                                  class="
                                    col-12 col-sm-5
                                    text-grey text-90
                                    order-first order-sm-last
                                  "
                                >
                                  <div class="row my-2">
                                    <div class="col-7 text-right">
                                      Price per day
                                    </div>
                                    <div class="col-5">
                                      <span class="text-120 text-secondary-d1"
                                        >Ksh
                                        {{ formatPrice(booking.price) }}</span
                                      >
                                    </div>
                                  </div>

                                  <div class="row my-2">
                                    <div class="col-7 text-right">Qt:</div>
                                    <div class="col-5">
                                      <span class="text-110 text-secondary-d1"
                                        >{{ days }} day(s)</span
                                      >
                                    </div>
                                  </div>

                                  <div
                                    class="
                                      row
                                      my-2
                                      align-items-center
                                      bgc-primary-l3
                                      p-2
                                    "
                                  >
                                    <div class="col-7 text-right">
                                      Total Amount to pay
                                    </div>
                                    <div class="col-5">
                                      <span
                                        class="
                                          text-15 text-success-d3
                                          opacity-2
                                        "
                                        >Ksh.
                                        {{ formatPrice(booking.amount) }}</span
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <hr />

                              <div>
                                <span class="text-secondary-d1 text-105"
                                  >Thank you for your business</span
                                >
                                <div class="action-buttons float-right">
                                  <a
                                    v-on:click="printPDF()"
                                    class="
                                      btn
                                      bg-white
                                      btn-light
                                      mx-1px
                                      text-95
                                    "
                                    href="#"
                                    data-title="Print"
                                  >
                                    <i
                                      class="
                                        mr-1
                                        fa fa-print
                                        text-primary-m1 text-120
                                        w-2
                                      "
                                    ></i>
                                    Print
                                  </a>
                                  <a
                                    v-if="booking.booking_status === 'ACTIVE'"
                                    v-on:click="showModal()"
                                    class="btn btn-danger mx-1px text-95 ml-3"
                                    href="#"
                                    data-title="Print"
                                  >
                                    <i
                                      class="
                                        mr-1
                                        fa fa-close
                                        text-primary-m1 text-120
                                        w-2
                                      "
                                    ></i>
                                    Cancel
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="cancel" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-secondary">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link fw-medium active"
                  href="#"
                  data-bs-toggle="tab"
                  role="tab"
                  aria-selected="true"
                  ><i class="ci-unlocked me-2 mt-n1"></i>Confirm</a
                >
              </li>
            </ul>
            <button
              class="btn-close"
              type="button"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p class="text-center">
              Are you sure you want to cancel this booking?
            </p>
            <p class="text-center">NB:This action is irrevocable.</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-success"
              v-on:click="changeBookingStatus()"
            >
              Yes,Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ProfileNav from "../view/profile-nav";
import ProfileAside from "../view/profile-aside";
export default {
  name: "App",
  components: {
    ProfileNav,
    ProfileAside,
  },
  data() {
    return {
      proxyUrl: process.env.MIX_APP_URL,
      booking: {},
      days: 1,
      message: {},
    };
  },
  created() {
    this.getBookingByID();
  },
  methods: {
    showModal() {
      $("#cancel").modal("show");
    },
    printPDF() {
      // Choose the element that our invoice is rendered in.
      const element = document.getElementById("printElement");
      // Choose the element and save the PDF for our user.
      html2pdf()
        .set({ html2canvas: { scale: 4 } })
        .from(element)
        .save(this.booking.booking_code + ".pdf");
    },
    changeBookingStatus() {
      this.message.status = "CANCELLED";
      $(".modal-content").loader(
        "show",
        '<i class="fa fa-2x fa-spinner fa-spin"></i>'
      );
      let uri =
        this.proxyUrl + `api/auth/changeBookingStatus/${this.$route.params.id}`;
      this.axios
        .post(uri, this.message, {
          headers: { Authorization: "Bearer " + localStorage.getItem("token") },
        })
        .then((response) => {
          $(".modal-content").loader("hide");
          if (response.data.status) {
            this.$toast.open({
              message: response.data.message,
              type: "success",
              position: "top",
            });
            this.getBookingByID();
            $(".cancel").modal("hide");
          }
        })
        .catch((error) => {
          $(".modal-content").loader("hide");
          if (error.response.status === 401) {
            this.$router.push({ name: "login" });
            clearSession();
          } else {
            this.$toast.open({
              message: "Something went wrong!",
              type: "error",
              position: "top",
            });
          }
        });
    },

    getBookingByID() {
      let uri =
        this.proxyUrl + `api/auth/getBookingByID/${this.$route.params.id}`;
      this.axios
        .get(uri, {
          headers: { Authorization: "Bearer " + localStorage.getItem("token") },
        })
        .then((response) => {
          this.booking = response.data.booking[0];
          if (response.data.days <= 0) {
            this.days = 1;
          } else {
            this.days = response.data.days;
          }
        })
        .catch((error) => {
          if (error.response.status === 401) {
            this.$router.push({ name: "login" });
            clearSession();
          } else {
            this.$toast.open({
              message: "Something went wrong!",
              type: "error",
              position: "top",
            });
          }
        });
    },

    formatPrice(value) {
      let val = (value / 1).toFixed(2).replace(".", ".");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
  },
};
</script>
